* {
  list-style: none;
  text-decoration: none;
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgb(189, 182, 182);
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: medium;
}
.menu-button {
  display: none;
}

nav li {
  margin-right: 10px;
  height: 90px;
}
nav a {
  align-items: center;
  display: block;
  color: rgb(19, 16, 16);
  justify-content: center;
  text-size-adjust: large;
  padding: 30px;
  padding-bottom: -5px;
}
nav a:hover {
  background-color: #f0f0f0;
}
nav li:first-child {
  margin-right: auto;
  text-align: center;
}
.company-name {
  display: flex;
  align-items: center;
  font-size: x-large;
}

.sidebar {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: white;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(29, 27, 27, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}
.contact-container {
  background-color: rgba(22, 22, 23, 0.903);
  color: white;
  width: 50%;
  height: 50vh;
  padding: 80px;
  text-align: start;
  padding-left: 10%;
  padding-bottom: 7%;
}

.contact-container a {
  color: orangered;
  font-size: small;
}
#contact-container {
  color: white;
}
.contact-container h1 {
  font-weight: normal;
  font-size: 2em;
  text-align: start;
}
.contact-container li {
  justify-content: center;
}
.contact-details {
  background-color: orangered;
  width: 30%;
  height: 50%;
  display: flex;
  padding-bottom: 80px;
  justify-content: center;
  align-items: center;
  margin-top: -50%;
}
@media screen and (max-width: 768px) {
  .contact-details {
    width: 50%;
    margin-top: -100%;
  }
  .box {
    margin-left: 0%;
    justify-content: start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 450px) {
  .contact-details {
    margin-top: -100%;
    width: 0 auto;
  }
}
.contact-details input {
  margin-bottom: 10px;
  line-height: 20px;
  border: none;
}
.contact-details #message {
  width: 200px;
  height: 150px;
}

.contact-details button {
  background-color: rgb(57, 56, 56);
  line-height: 20px;
  color: white;
  border: none;
  border-radius: 1px;
}

.box {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
}
