* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Typography */
h1 {
  justify-content: center;
  text-align: center;
}

a {
  color: orangered;
  margin-right: 10px;
}

/* Navigation Styles */

nav {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 6rem;
  min-height: 6rem;
  background-color: white;
  box-shadow: 0 4px 6px -6px rgb(189, 182, 182);
  padding: 1rem 2rem;
  position: sticky; /* Add this */
}
nav ul {
  display: flex;
  justify-content: center; /* Centers the navigation items */
  align-items: center;
  text-align: center;
  font-size: medium;
}
nav li {
  margin-right: 10px;
  height: 90px;
}

nav a {
  align-items: center;
  display: block;
  color: rgb(19, 16, 16);
  justify-content: center;
  text-size-adjust: large;
  padding: 30px;
}
nav h2 a:hover {
  background-color: transparent;
}

nav a:hover {
  font-weight: 700;
}

.company-name {
  font-size: x-large;
}
.tmlg {
  display: none;
}
/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: white;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(29, 27, 27, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
  font-size: 1.9rem;
}

/* Container Styles */
.container {
  background-image: url(./images/stressedback.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 2%;
  margin-bottom: 40px;
}

/* Application Form Styles */
.application-form {
  background-color: rgb(244, 193, 152);
  padding: 1% 4%;
  font-family: "Times New Roman", Times, serif;
  width: 30%;
  height: 50%;
  border-radius: 8px;
  box-sizing: border-box;
}
.application-form form {
  max-width: 100%;
}
.application-form h1 {
  white-space: nowrap;
}

.application-form p {
  max-width: 90%;
}

.application-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.application-form button {
  margin-top: 20px;
  border-radius: 8px;
  border: none;
  background-color: rgb(97, 96, 95);
  color: white;
  width: 150px;
  height: 26px;
}

.application-form input,
textarea {
  border-radius: 8px;
  border: none;
  line-height: 27px;
  justify-content: center;
  text-align: center;
}

.application-form h4 span {
  font-weight: normal;
  background-color: orangered;
  color: white;
  line-height: 2;
  padding: 6px;
  border-radius: 4px;
}

/* Personal Details Form Styles */
.personal-details {
  background-color: rgb(244, 193, 152);
  padding: 5%;
  margin: 0 10% 10% 10%;
  border-radius: 8px;
}

.personal-details li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-details label {
  display: block;
  justify-content: center;
  scroll-margin-top: 25px;
  margin-top: 20px;
}

.personal-details :placeholder-shown {
  margin-right: 10px;
  padding-left: 2%;
}

.personal-details input,
textarea {
  width: 100%;
  line-height: 28px;
  border-radius: 4px;
  border: none;
}

.personal-details button {
  background-color: rgb(17, 17, 17);
  color: white;
  width: 110px;
  line-height: 26px;
  border: none;
  margin-top: 16px;
  border-radius: 4px;
}

.personal-details h1 {
  text-align: center;
  font-weight: normal;
}

/* About Us Styles */
.aboutUs {
  background-color: #ebe8e8e0;
  background-size: contain;
  width: 80%;
  height: 10%;
  justify-content: center;
}

#centered-content {
  text-align: center;
  margin: 0 auto;
  padding: 2% 0% 2% 2%;
}

.aboutUs button {
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 8px;
  width: 100px;
}

/* Circle Number Styles */
.circle {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid orange;
  color: orange;
  font-size: 16px;
}

/* Contact Styles */
.contact {
  display: flex;
  background-color: black;
  width: auto;
  padding: 3%;
  margin-right: 10px;
  text-decoration-line: underline;
  text-decoration-color: orangered;
  white-space: nowrap;
}

#contact {
  color: black;
  margin-right: 129px;
  list-style: none;
}

/* Button Styles */
.unique-button {
  width: 160px;
  height: 20px;
  background-color: rgb(255, 123, 0);
  color: white;
  border-radius: 20px;
  border: none;
}

#custom-button {
  background-color: orangered;
  color: white;
}

/* Application Process Styles */
.application {
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
  color: rgba(11, 10, 10, 0.834);
}

/* Contact Container Styles */
.contact-container {
  background-color: rgba(22, 22, 23, 0.903);
  color: white;
  width: 50%;
  height: 50vh;
  padding: 80px;
  text-align: start;
  padding-left: 10%;
  padding-bottom: 7%;
}

.contact-container a {
  color: orangered;
  font-size: small;
}

#contact-container {
  color: white;
}

.contact-container h1 {
  font-weight: normal;
  font-size: 2em;
  text-align: start;
}

.contact-container li {
  justify-content: center;
}

/* Contact Details Styles */
.contact-details {
  background-color: orangered;
  width: 30%;
  height: 50%;
  display: flex;
  padding-bottom: 80px;
  justify-content: center;
  align-items: center;
  margin-top: -50%;
}

.contact-details input {
  margin-bottom: 10px;
  line-height: 20px;
  border: none;
}

.contact-details #message {
  width: 200px;
  height: 150px;
}

.contact-details button {
  background-color: rgb(57, 56, 56);
  line-height: 20px;
  color: white;
  border: none;
  border-radius: 1px;
}

/* Box and Vision Styles */
.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
}

.body {
  background-image: url(./images/happyw.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vision {
  max-width: 700px;
  justify-content: center;
  text-align: center;
  padding: 1%;
  margin-left: 20%;
  border-radius: 8px;
}

.about-us-content {
  padding: 1%;
}

.about-us-content ul {
  display: flex;
}

.about-us-content img {
  width: 80%;
  margin: 0 auto;
  margin-left: 9%;
  border-radius: 8px;
  justify-content: center;
  text-align: center;
}

.item-box1 {
  padding-left: 10%;
  max-width: 1000px;
}

.vision-mission-box {
  background-color: white;
  border: 1px solid;
  border-color: orangered;
  padding: 1%;
  margin-left: 5%;
  width: 300px;
  border-radius: 8px;
}

.vision-mission-box:hover {
  color: orangered;
}

#vision-mission {
  background-color: rgb(188, 185, 185);
  margin-top: 2%;
  padding: 2% 0 2% 0;
}

/* Registration Styles */
.registration {
  display: flex;
  margin: 10% 0 10% 20%;
}

.registration button {
  width: 140px;
  line-height: 24px;
  border: 1px solid white;
  background-color: rgb(229, 163, 110);
  color: white;
  border-radius: 15px;
  margin-top: 20px;
}

.registration input {
  display: block;
}

.registration input,
textarea {
  width: 200px;
  line-height: 25px;
  border-radius: 8px;
  border: none;
  margin-top: 2%;
}

.registration input[type="radio"] {
  display: inline;
}

.registration-box1 {
  width: 20%;
  height: 50vh;
  background-color: rgb(229, 163, 110);
  border-radius: 2px;
  padding: 5%;
  color: white;
}

.registration-box2 {
  width: 50%;
  height: 50vh;
  background-color: rgb(234, 231, 229);
  padding: 5%;
}

/* Login Styles */
.log-in {
  display: block;
  margin: 10% 10% 10% 20%;
  background-color: rgb(221, 163, 101);
  padding: 6%;
  border-radius: 4px;
  padding-left: 25%;
}

.log-in button {
  margin-top: 3%;
  width: 100px;
  line-height: 20px;
  border-radius: 15px;
  background-color: orangered;
  color: white;
  border: none;
}

.log-in input,
textarea {
  margin-top: 2%;
  width: 300px;
  line-height: 25px;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 8px;
}

.log-in p {
  font-size: 2em;
  color: black;
}

/* Flashed Messages Styles */
.flashed-messages {
  font-size: small;
  width: fit-content;
  padding: 0%;
  margin: 10px 0;
  border: 1px solid rgb(213, 212, 212);
  border-radius: 8px;
  background-color: #292929;
  color: whitesmoke;
  position: fixed;
  bottom: 3%;
  left: 33%;
  z-index: 100000;
}

.flashed-messages ul {
  list-style: none;
}

.flashed-messages li {
  display: flex;
  padding: 10px;
  white-space: nowrap;
}

.flashed-messages li i {
  margin-right: 8px;
  vertical-align: middle;
  color: #f0eded;
  background-color: #292929;
}

.flashed-messages i {
  margin-left: 8px;
  vertical-align: middle;
  line-height: 1;
}

.flashed-messages li:last-child {
  align-self: flex-end;
}

/* Responsive Media Queries */
@media screen and (max-width: 1024px) {
  .application-form {
    padding: 3% 4%;
    width: 36%;
  }
}
@media screen and (max-width: 425px) {
  nav {
    width: 100%;
    min-width: 100%;

    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    min-height: 6rem;
    background-color: white;
    box-shadow: 0 4px 6px -6px rgb(189, 182, 182);
    padding: 1rem 2rem;
    position: sticky; /* Add this */
  }
  nav ul {
    display: flex;
    justify-content: center; /* Centers the navigation items */
    align-items: center;
    text-align: center;
    font-size: medium;
  }
  nav li {
    margin-right: 10px;
    height: 90px;
  }

  nav a {
    align-items: center;
    display: block;
    color: rgb(19, 16, 16);
    justify-content: center;
    text-size-adjust: large;
    padding: 30px;
  }
  nav h2 a:hover {
    background-color: transparent;
  }

  nav a:hover {
    font-weight: 700;
  }

  .company-name {
    display: none;
  }

  .tmlg {
    display: block;
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .contact,
  #contact {
    display: none;
  }

  .flashed-messages {
    width: 76%;
    border: 1px solid rgb(213, 212, 212);
    border-radius: 12px;
    background-color: #e7b0b0;
    color: rgb(82, 81, 81);
    font-size: smaller;
    left: 7%;
  }

  .flashed-messages li {
    white-space: normal;
  }

  .flashed-messages li i {
    background-color: #e7b0b0;
    color: rgb(82, 81, 81);
  }
}

@media screen and (max-width: 568px) {
  .flashed-messages {
    width: 76%;
    border: 1px solid rgb(213, 212, 212);
    border-radius: 12px;
    background-color: #e7b0b0;
    color: rgb(82, 81, 81);
    font-size: smaller;
    left: 7%;
  }

  .flashed-messages li {
    white-space: normal;
  }

  .flashed-messages li i {
    background-color: #e7b0b0;
    color: rgb(82, 81, 81);
  }
}
@media screen and (max-width: 790px) {
  nav li {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .company-name {
    font-size: medium;
  }

  .sidebar {
    width: 100%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .application-form {
    width: 100%;
    height: 70vh;
    padding: 40px 40px 0 40px;
    margin-left: 5%;
    margin: o auto;
    font-size: small;
    justify-content: center;
  }
  .application-form h1 {
    font-size: 2rem;
  }
  .application-form h4 {
    font-size: 1.5rem;
    border-radius: 4px;
  }

  .application-form p {
    max-width: 90%;
    font-size: 1.5rem;
  }

  .application-form label {
    font-size: 1.5rem;
  }

  .aboutUs {
    width: 116%;
  }
  .aboutUs p {
    font-size: 1.5rem;
  }
  .aboutUs a button {
    white-space: nowrap;
    font-size: 1.2rem;
    width: 10rem;
  }

  .aboutUs img {
    width: 60%;
    height: auto;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  #centered-content {
    margin-left: 7%;
    pad: 2%;
  }

  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
    margin: 0;
  }

  .application {
    display: block;
    margin: 5%;
  }

  .about-us-content ul {
    display: block;
    margin-bottom: 2%;
  }

  .vision-mission-box {
    margin-top: 9%;
  }

  .registration {
    display: block;
  }

  .registration-box1 {
    display: none;
  }

  .registration-box2 {
    width: 50%;
    height: 50vh;
    background-color: rgb(248, 239, 239);
    padding: 5%;
  }

  .registration-box2 {
    background-color: white;
  }

  .contact-container {
    margin: 7%;
  }

  .contact-details {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .about-us-content ul {
    display: block;
    margin-bottom: 2%;
  }

  .vision-mission-box {
    margin-top: 9%;
    justify-content: center;
  }
}
