{% extends "base.html" %} {% block title %}About Us - Thomas Micro-Lending
Group{% endblock %} {% block content %}

<div class="aboutPage">
  <div class="aboutTmlg">
    <h1>About us</h1>
    <ul class="item-box1">
      <li>
        <p>
          Thomas Micro Lending Group is a financial institution dedicated to
          empowering individuals and small businesses through accessible and
          flexible micro-loans. Established in 2019, our mission is to bridge
          the gap in financial inclusion by providing innovative lending
          solutions to those underserved by traditional banking systems.
        </p>
      </li>

      <li>
        
          <h2>Vision:</h2><p></p> To empower individuals and businesses through
          ethical and accessible financial solutions, fostering confidence and
          security.
        </p>
      </li>
      <li>
  
          <h2>Mission:</h2><p> We provide transparent, personalised lending
          servises that nurture trust and empowerment, fostering financial
          wellness and peace of mind.
        </p>
      </li>
      <li>
     
          <h2>Motto:</h2><p></p>Join Us in Making a Difference Your partner in
          prosperity- Empowerment,integrity and prosperity.
        </p>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
