{% extends "base.html" %} {% block title %}Contact Us - Thomas Micro-Lending
Group{% endblock %} {% block content %}
<section class="contact-section">
<div class="contact-info">
  <h1>Contact Us</h1>
    <p>
      Navigating financial solutions can be complex, but you're not alone.
      Thomas Micro Lending Group offers comprehensive support through multiple
      communication channels. Whether you prefer to chat, email, or speak
      directly with our team, we're here to provide clear, compassionate
      guidance tailored to your unique financial needs and goals.
    </p>
<ul class="contact-infoList">
  <li>
  <p><i class="fa-solid fa-business-time"></i> Business hours : weekdays from 8:00 a.m. to 5:00 p.m.</p> 
 
  </li>
    <li>

    <p><i class="fa-solid fa-envelope"></i>Thalithathomastrading@gmail.com</p>
  </li>
   <li>

    <p>  <i class="fa-solid fa-phone"></i>+27720191566</p>
  </li><li>
    <a href="https://wa.me/0720191566">
      <i class="fa-brands fa-whatsapp"></i>Whatsapp
    </a></li>
  </li>

 </ul>

</div>


</div></section>
{% endblock %} {% block extra_js %}

 
{% endblock %}
