{% extends "base.html" %} {% block title %}Contact Us - Thomas Micro-Lending
Group{% endblock %} {% block content %}
<div class="contact-container">
  <h1>Contact Us</h1>
  <br />
  <li>
    <a href="https://wa.me/0720191566">
      <i class="fa-brands fa-whatsapp"></i>Whatsapp
    </a>
  </li>
  <li>
    <a href="#">PHONE</a>
  </li>
  <li>+27720191566</li>
  <br />
  <li>
    <a href="#">EMAIL</a>
  </li>
  <li>Thalithathomastrading@gmail.com</li>
  <br />
  <li>
    <a href="#">BUSINESS HOURS</a>
  </li>
  <li>Monday to Friday 9:00am-6:00pm(GMT)</li>
</div>

<div class="box">
  <div class="contact-details">
    <form
      id="emailForm"
      onsubmit="return validateEmail()"
      action="https://formsubmit.co/Thalithaasambo@gmail.com"
      method="POST"
    >
      <ul>
        <li>
          <input
            type="text"
            id="Firstname"
            name="Firstname"
            placeholder="Name"
          />
          <br />

          <input
            type="number"
            id="number"
            name="phone-number"
            placeholder="Phone Number"
          />
          <br />
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Email Address"
          />
          <span id="emailError" class="error"></span>
          <br />
          <input
            type="text"
            id="message"
            name="message"
            placeholder="Message"
          />
          <br />

          <button>submit</button>
        </li>
      </ul>
    </form>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script>
  function validateEmail() {
    const emailInput = document.getElementById("email");
    const emailError = document.getElementById("emailError");
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    if (!emailRegex.test(emailInput.value)) {
      emailError.textContent = "Please enter a valid email address";
      return false;
    }

    emailError.textContent = "";
    return true;
  }
</script>
{% endblock %}
