{% extends "base.html" %} {% block title %}Personal Details - Thomas
Micro-Lending Group{% endblock %} {% block content %}
<div class="personal-details">
  <form method="POST" action="/submit-loan-request">
    <h1>Personal Details</h1>

    <label for="title">Title</label>
    <select name="title" id="title">
      <option value="Mr">Mr</option>
      <option value="Mrs">Mrs</option>
      <option value="Ms">Ms</option>
    </select>

    <label for="ID"> South African ID</label>
    <input type="text" id="ID" name="ID" />

    <label for="Firstname">First Name</label>
    <input type="text" id="Firstname" name="Firstname" />
    <br />

    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastname" />
    <br />

    <label for="phone-number">CellPhone number</label>
    <input type="text" id="phone-number" name="phone-number" />
    <br />

    <label for="email">Email</label>
    <input type="text" id="email" name="email" />
    <span id="emailError" class="error"></span>
    <br />

    <label for="employmentStatus">Employment Status</label>
    <select id="employmentStatus" name="employmentStatus">
      <option value="employed">Employed</option>
      <option value="unemployed">Unemployed</option>
      <option value="student">Student</option>
      <option value="self-employed">Self-Employed</option>
      <option value="statePension">State Pension / Grant</option>
    </select>

    <label for="startDate">Employment Start Date</label>
    <input type="date" id="startDate" name="startDate" required />

    <label for="salaryFrequency">Salary Frequency</label>
    <select id="salaryFrequency" name="salaryFrequency">
      <option value="selectWageType">Select Wage Type</option>
      <option value="monthly">Monthly</option>
      <option value="fortnightly">Fortnightly</option>
      <option value="weekly">Weekly</option>
    </select>

    <label for="Salary">Gross Salary Before Tax</label>
    <input type="number" id="salary" name="salary" />

    <label for="net income">Net Income</label>
    <input type="number" id="netincome" name="netIncome" />

    <label for="living expenses">Living Expenses</label>
    <input type="number" id="livingExpense" name="livingExpense" />

    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}
